/* You can add global styles to this file, and also import  other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*::-webkit-scrollbar {
    width: 12px !import ant;
  }
  *::-webkit-scrollbar-track {
    /* background: rgb(164, 155, 138); */
    background: transparent !import ant;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(32, 32, 172, 0.77) !import ant;
    border-radius: 20px !import ant;
    border: 3px solid rgb(216, 221, 222) !import ant;
  }
