<mat-sidenav-container>
  <mat-sidenav #sidenavright opened="false" mode="over" position="end">

    <mat-nav-list class="filter_feilds"><br>

      <label class="filter_label">Filter Records</label>
      <mat-form-field appearance="fill">
        <mat-label>Status Type:</mat-label>
        <mat-select [(ngModel)]="Searchvalue" placeholder="Choose status">
          <mat-option value="open">Open</mat-option>
          <mat-option value='closed'>Closed</mat-option>
          <mat-option value='inprogress'>In-Progress</mat-option>
        </mat-select>
      </mat-form-field>



      <mat-form-field appearance="fill">
        <input type="text" matInput [(ngModel)]="Searchvalue1" placeholder="Search Name..">
        <!-- <mat-icon class="search_icon">search</mat-icon> -->
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input type="text" matInput [(ngModel)]="Searchvalue2" placeholder="Search Email..">
        <!-- <mat-icon class="search_icon">search</mat-icon> -->
      </mat-form-field>


      <mat-form-field class="full-width" appearance="fill">
        <mat-label>From date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="start_date" id="div1">
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-hint>MM/DD/YYYY</mat-hint>

        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>To date</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="end_date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>




      <button type="reset" (click)="reset()" class="reset_button">clear</button>
      <button class="search_button" (click)="searchFilter(Searchvalue,Searchvalue1,Searchvalue2,start_date,end_date)">
        <mat-icon style="margin-top: 3px;">search</mat-icon>
      </button>
      <br>

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <div>
      <mat-card class="col-md-12 header">
        <div id="div1">
          <label class="label">InterviewInfo</label>
        </div>

        <mat-icon class="filter" id="div2" (click)="sidenavright.toggle();">filter_alt</mat-icon>
        <div id="div2">
          <button class="new_candidate_btn" routerLink="/Candidate-Info">CandidateInfo</button>
        </div>
        <!-- <div  id="div3">
              <button class="new_candidate_btn" routerLink="/profile-creation">New Candidate</button>
            </div > -->
      </mat-card>
      <div class="row">
        <div *ngFor="let data of assignCandidates" class="col-md-4">
          <!-- |filter:Searchvalue:Searchdata|filter:Searchvalue1:Searchdata1; -->
          <mat-card class="col-md-12 size zoom">

            <div class="col-md-6">
              <h2>{{data.canname}}</h2>
              <p>{{data.Emailid}}</p>
              <p>{{data.canphone}}</p>
              <p>{{data.date|date: 'dd/MM/yyyy'}}</p>
              <!-- <p matTooltip="Assesment Date">{{data.Date|date:"dd/MM/yy"}}</p> -->
              <!--  -->

            </div>
            <div class="col-md-6">
              <div class="row">
                <button class="dialogButton" (click)="openDialogScore(data)"
                  [hidden]="data.status =='Open'">Score</button>

                <!-- <button  class="dialogButton"  routerLink="/barchart" [hidden]="data.Candidatestatus =='Open'">Score</button> -->

                <mat-icon class="threeDots" id="div2" [matMenuTriggerFor]="menu">more_vert</mat-icon>

                <div class="dropdown skills" id="div1">
                  <h2 class="dropbtn">Skills</h2>
                  <div class="dropdown-content">
                    <!-- <a href="#">Candidate</a> -->
                    <mat-card *ngFor="let sk of data.skills">
                      <label id="div1" class="gap">{{sk.skillname}}</label>
                      <label id="div2" class="rightF">{{sk.skilllevel}}</label>
                    </mat-card>
                  </div>
                </div>

                <mat-menu #menu="matMenu">
                  <!-- <label mat-menu-item (click)="sendData(data)" routerLink="/profile-creation">Edit</label> -->
                  <label mat-menu-item routerLink="/profile-creation">Edit</label>
                  <!--   -->
                  <label *ngIf="data.status == 'closed'" (click)="sendDataToDFS(data)" mat-menu-item
                    routerLink="/view-assessment"> View </label>
                  <label mat-menu-item>Delete</label>
                </mat-menu>
              </div>
              <div class="row">
                <button  (click)="sendData(data)" routerLink="/assessment" [disabled]="data.status =='closed'"
                  class="startAssessment_button">{{ data.status =='closed' ? 'Assessment Closed' : (data.status=='inprogress')?'Continue Assesment':'Start Assessment'}}</button>
              </div>

            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>