.dropbtn {
  background-color:transparent;
  color: rgba(57, 57, 182, 0.842);
  font-size: 24px;
  border: none;
  /* padding-top: 10px; */
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fdfbfb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: rgb(251, 247, 247);}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #a7a9a7;} */

label{
  color: rgba(57, 57, 182, 0.842);
  /* color: green; */
}
.slider{
  height: 200px;
  margin-right: 14px;
}
.QANumber{
  float: right;
}
textarea{
  border: none;
  width: 100%;
  height: 100%;
  overflow-y: hidden !important;
}
button:disabled{
  background-color: darkgray;
}

 /* .spaceNew{
  padding:4%;
}
input{
  min-width: 470px;
  min-height: 70px;
}
.borderr{
  border: solid 1px black;
}
.margin{
  margin-left: 24%;
  position:sticky;
}
.lefts{
  padding-left: 2px;
}

button{
  color: #fff;
  background-color: rgb(48, 169, 128);
  
  border: none;
  border-radius: 30px;
  height: 26px;
}
.endbutton{
  margin-left: 85%;
  margin-bottom: 1%;
  background-color:rgb(230, 71, 14);
}
.border
{
  background-color: #e2dede;
  border: solid 1px;
} 
 .color{
  background-color: (white);
 }
 
 mat-icon{
  color:darkgreen;
 }
 hr{
  padding: none;
 }
 .width{
  width:441px;
 }
 .position{
  font-size: 15px;
  padding-left: 90%;
 }

 form{
  background-color:rgba(255, 228, 196, 0.32);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 100%;
 }

 .container-fluid{
  padding-top: 1%;
  background: white;
  margin-left: 0.5%;
  margin-right: 25%; 
 }
 .container{
  margin-right: 17%;
 }
 #div 1,#div 2,#div 3,#div 4,#div 5{
  display: inline;
} 
.spaceL{
  padding-right: 30px;
}
.spaceleft{
  padding-left: 2%;
}
h1{
  text-align: center;
}
angular-editor-textarea{
  border: black solid 1px;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-slider{
  width:200px;
}
.space{
  padding-right: 30px;
}
.size
{
  border: solid black 1px;
  padding: 6px;
  padding-bottom: 2%;
  margin-top: 1%;
}
.red
{
  color: brown;
}
.margintop{
 padding-top: 2.5px;
}
.top{
  border: solid 1px black;
} 
.float{
  float:right;
} */
/* .container{
 
} */

.skills{
 margin-left: 2%;
}

.margin{
  float:right !important;
  padding-top: 3px
}
.profile{
  font-size: 12px !important;
  padding-top: 6px;
  
}
.profiledata{
  float: right;
}
.borderC{
  border-color: #ea5455;
}
.QACard_size{
  min-height:250px ;
  height: auto !important ;
  overflow-y: auto;
}
.color-size{
  margin-left: 2px;
  font-size: 13px !important;
  padding-top: 13px;
  padding: 1px;
  border-radius: 2px; 
}
.size{
  height: 260px;
 
}
mat-card{
  margin: 10px;
}
button{
  color: white;
  background-color:rgba(57, 57, 182, 0.842);
  border: none;
  border-radius: 3px;
  height: 27px;
  
}
#div1,#div2,#div3,#div4,#div5{
  display: inline;
} 
.spaceL{
  padding-right: 30px;
}
.spaceleft{
  padding-left: 1%;
}
.red
{
  color: brown;
}
.position{
  float: right;
  font-size: 20px;
 }
 .btn{
  position:relative;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.786rem 1.5rem;
  border-radius: 0.358rem;
  box-shadow: 0 1px 20px 1px #ea5455!important;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 1;
 }
 
.btn-danger {
  color: #fff!important;
  border-color: #ea5455!important;
  background-color: #ea5455!important;
}
.end-assesment{
  position: fixed;
    bottom: 3%;
    left: 80%;
    float: right;
} 
.btn .end-assesment{
  box-shadow: 0 1px 20px 1px #ea5455!important;
}


.glow-effect {
  /* Add your glowing effect CSS styles here */
  box-shadow: 0 0 25px rgba(1, 245, 54, 0.5);
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.glow-effect {
  animation: blink 1s infinite;
}
button.glow-effect::after {
  content: 'Click here to start the assessment'; /* Text or indicator to display */
  position: absolute;
  top: 80%;
  left: 7%;
  transform: translateX(-50%);
  background-color: yellow; /* Customize the indicator styles */
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: black;
}
button.clicked::after {
  content: 'Wait a moment'; /* Text or indicator to display */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: yellow; /* Customize the indicator styles */
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: black;
}
