<p>uploadform</p>
<!-- <div class="container">

    <div class="card mt-5">
        <h1 class="mt-2 ms-3 fst-italic">File Upload</h1>

        <form class="p-3 mt-3 d-flex flex-row justify-content-between" id="form">
            <input class="form-control" type="file" id="filename" name="filename" value="filename">
            <button class="btn btn-sm btn-secondary submit-btn" type="submit" (click)="formsubmit()">Upload</button>
        </form>
    </div>

</div> -->

<div id="div1" class="choose_file">
    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event)" accept=".csv,test/csv" />
    </label>
  </div>

  <div id="div2" class="upload_button">
    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="formsubmit()">
      Upload
    </button>