<!------------------ third and new-------------------- -->

<form [formGroup]="recruiterData" class="">
  <div class="container-fluid">
    <div>
      <mat-card>

        <label>Choose Skill and Complexity to View Questions</label> <br>
        <div id="div3" class="spaceL">
          <mat-form-field>
            <mat-label> Skill </mat-label>
            <mat-select formControlName="skillId" ngDefaultControl (ngModelChange)="onSelectSkill($event)">
              <mat-option *ngFor="let x of Skill" value="{{x.skillid}}"
                (change)="onSelectSkill($event)">{{x.skillname}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div id="div2" class="spaceL">
          <mat-form-field>
            <mat-label> Complexity </mat-label>
            <mat-select formControlName="level" ngDefaultControl (ngModelChange)="onSelectComple($event)">
              <mat-option *ngFor="let x of Complexity" value="{{x.cmpid}}">{{x.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div id="div3" class="spaceL">
          <button routerLink="/addqa">Add Question</button>
        </div>
        <div id="div3" class="spaceL">
          <button routerLink="/addqa">Add New Skill</button>
        </div>
      </mat-card>
    </div>
    <div>
      <div class="size" *ngFor="let item of arr  | paginate: { itemsPerPage: 5, currentPage: p   } ;let i=index">

        <mat-card style="overflow-y:scroll;min-height: 20vh;box-shadow: 2px;border: 3px;border-color: black;">
          <mat-card-header class="fixed">
            <div class="float">
              <mat-icon (click)="hideAnswer()">keyboard_arrow_down</mat-icon>
              <mat-icon data-bs-toggle="modal" data-bs-target="#Edit" (click)="edit(item)">edit</mat-icon>
            </div>

          </mat-card-header>
          <mat-card-content>
            <tbody class="table-striped">

              <!-- <button type="button" class="editBtn" data-bs-toggle="modal"
                data-bs-target="#EditPop" ><mat-icon (click)="edit()" >mode_edit</mat-icon></button> -->




              <tr class="info">
                <td>
                  <b>Q </b>
                  <b>{{i+1}}. {{ item.question }} </b><i class="arrow up" *ngIf="hideMe" (click)="hideAnswer()"></i>
                  <br>

                  <b> Ans:</b>
                  <textarea *ngIf="showMe" class="collapsible active color">{{ item.answer }} </textarea><br> <br>

                  <b> Keyword: </b>
                  <b *ngIf="showMe" class="collapsible active color">{{ item.answerkeywords }} </b><br> <br>
                </td>
              </tr>
            </tbody>
          </mat-card-content>
        </mat-card>
        <br>

      </div>
      <pagination-controls (pageChange)="p= $event"></pagination-controls>
    </div>

    <br />
  </div>
</form>

<!-- <div  class="modal fade" id="EditPop" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div  class="modal-dialog">
                <div  class="modal-content">
                  <div  class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Question and Answer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div >
                  <div  class="modal-body">
                    <div  class="row">
                      <form [formGroup]="formname">
                        <label class="que"> question : {{item.question}} </label>
                        <label class="ans"> answer :{{item.answer}}</label>
                        <br>
                      
                          <input  placeholder="Question" formControlName="question">
                          <input  placeholder="Answer" formControlName="answer">
                        
                  
                        <button type="button" class="CancelBtn" data-bs-dismiss="modal"
                          aria-label="Close">Cancel</button>
                        <button class="btn btn-primary srchBtn" data-bs-dismiss="modal" aria-label="Close" 
                        (click)="editListDtlDB ()" [disabled]="!myFormGroup.valid" >Update</button>
                      </form>
                    </div >
                  </div >
             
                </div >
              </div >
            </div > -->


<div class="modal" [ngClass]="{'show' : popup }" tabindex="-1" id="edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <b class="modal-title">Edit Question and Answer</b>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formname">


          <mat-form-field class="input">
            <mat-label> Question </mat-label>
            <textarea matInput formControlName="question"></textarea>
          </mat-form-field><br>

          <mat-form-field class="input">
            <mat-label> Answer </mat-label>
            <textarea matInput formControlName="answer"></textarea>
          </mat-form-field><br>

          <div id="div2" class="cmp">
            <mat-form-field>
              <mat-label> Complexity </mat-label>
              <mat-select formControlName="level" ngDefaultControl>
                <mat-option *ngFor="let x of Complexity" value="{{x.cmpid}}">{{x.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field class="input">
            <mat-label> Answerkeywords </mat-label>
            <textarea matInput formControlName="answerkeywords"></textarea>
          </mat-form-field><br>



        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="popup=false">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="savechange()">Save changes</button>
      </div>
    </div>
  </div>
</div>