/* button{
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
}
 .split1{
  height: 10%;
  width: 40%;
  position: fixed;  
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 40%;
}
.split2{
  height: 10%;
  width: 50%;
  position: fixed;  
  z-index: 1;
  right: 0;
  overflow-x: hidden;
  padding-right: 40%;
  padding-bottom: 90%;
}
mat-card{
  margin-top: 1%;
}
label{
  margin-left: 30px;
  color: brown;
}

.container-fluid{
  margin-left: 1%;
  margin-right: 1%;
 
}
#div1,#div2,#div3,#div 4{
 display: inline;
}
.spaceL{
 padding-left: 30px;
 width: 40px;
}
h1{
 text-align: center;
}
.left{
 padding-left: 85%;
}
.flotleft{
  float: left;
}
mat-slider{
 width:200px;
}
.space{
 padding-right: 30px;
}
.table-bordered{
 
  column-width: 20px;
}
form{
  background-color:rgba(245, 237, 224, 0.32);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 100%;
 }
 div .b {
  text-align: left;
 
}

.collapsible {
 
  cursor: s-resize;
  padding: 2px;
  margin: 0;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 25px;
  border: none;
  text-align: left;
  outline: none;
  font-weight: bold;
  font-size: 14px;
}

.active,
.collapsible:hover {
 
  cursor: s-resize;
}
#div1,#div2{
  display: inline;
}
.float{
  float: end !import ant;
  margin-left: 89%;
  position: fixed;
}

.float{
  float: end !import ant;
  margin-left: 90%;
}
.input{
  width:90%;
}

.color{
  color: rgba(32, 32, 211, 0.89);
}

.collapsible:after {
   
  font-size: 13px;
  color: black;
  float: right;
  margin-right: 5px;

}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  float: right;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
 */
.info{
  overflow: hidden !important;
}
button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
}

.split1 {
  height: 10%;
  width: 40%;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 40%;
}

.split2 {
  height: 10%;
  width: 50%;
  position: fixed;
  z-index: 1;
  right: 0;
  overflow-x: hidden;
  padding-right: 40%;
  padding-bottom: 90%;
}

mat-card {
  margin-top: 1%;
}

label {
  margin-left: 30px;
  color: brown;
}

.container-fluid {
  margin-left: 1%;
  margin-right: 1%;

}

#div1,
#div2,
#div3,
#div4 {
  display: inline;
}

.spaceL {
  padding-left: 30px;
  width: 40px;
}

h1 {
  text-align: center;
}

.left {
  padding-left: 85%;
}

.flotleft {
  float: left;
}

mat-slider {
  width: 200px;
}

.space {
  padding-right: 30px;
}

.table-bordered {
  column-width: 20px;
}

form {
  background-color: rgba(245, 237, 224, 0.32);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

div .b {
  text-align: left;

}

.collapsible {

  cursor: s-resize;
  padding: 2px;
  margin: 0;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 25px;
  border: none;
  text-align: left;
  outline: none;
  font-weight: normal;
  font-size: 15px;
}
.active{
  width: 92vw !important;
  min-height: 20vh;
  max-height:40vh;
}
.active,
.collapsible:hover {

  cursor: s-resize;
}

#div1,
#div2 {
  display: inline;
}

.float {
  float: end !important;
  margin-left: 90%;
}

/* .editBtn {} */


.color {
  color: rgba(32, 32, 211, 0.89);
}

.collapsible:after {

  font-size: 13px;
  color: black;
  float: right;
  margin-right: 5px;

}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  float: right;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.modal.show {
  display: block;
}

.input {
  width: 90%;
}

.cmp {
  margin-left: 5px;
}